######################
# XDAG Configuration #
######################
[NODE]
#ip address for communication between pools
ip	                        = 127.0.0.1
#port
port	                    = 12345
[POOL]
#ip address for miners/wallets
ip	                        = 127.0.0.1
#port
port	                    = 65535
#maximum allowed number of miners/wallets
max_connection_count_input	= 4096
#maximum allowed number of miners connected from single ip
max_miner_ip_count     	    = 128
#maximum allowed number of miners with the same address
connections_per_miner_limit = 128
#pool fee in percent
pool_fee = 1
#reward to miner who got a block in percent
pool_reward = 5
#reward to miners participated in earned block in percent
pool_direct = 5
#community fund fee in percent
pool_fund = 0.5
