# MSVC build stuff
Release/
Debug/
.vs/

/win/xdag.VC.db
/win/xdag.VC.VC.opendb
/win/xdag/xdag.vcxproj.user
/win/xdagwallet/xdagwallet.vcxproj.user
/win/ipch
/win/xdagwallet/xdagwallet.aps
/win/xdaglib/xdaglib.vcxproj.user

#mac project
xcuserdata
mac/xdag.xcodeproj/project.xcworkspace

#autotools
.deps
autoscan.log
*.o
.dirstamp
/win/x64/
/win/xdag/x64/
/win/xdaglib/x64/
/win/xdagwallet/x64/

#configs
/secp256k1/src/libsecp256k1-config.h

# xdag
xdag
*.log
/client/.cmd.history
/client/dnet_key.dat
/client/storage
/client/wallet.dat
